$gray-dark:          #606060;
$gray:               #666666;
$gray-light:         #a8a8ab;
$gray--lighter:      #f4f4f4;
$gray--lightest:     #f6f5f3;

$color-secondary:    #ffd701;
$bg-white:           #ffffff;
$bg-black:           #000000;
$text-white:         #ffffff;
$text-black:         #000000;

$font--xxs:           10px;
$font--xs:            17px;
$font--sm:            21px;
$font--md:            22px;
$font--lg:            24px;
$font--xlg:           33px;
$font--large:         37px;


$title-font--sm:         24px;
$title-font--md:         26px;
$title-font--lg:         44px;
$title-font--xlg:        49px;
$title-font--large:      51px;
$title-font--largest:    100px;

$line--sm: 1.1em;
$line--md: 1.2em;
$line--lg: 1.45em;


$mobile-width--sm: "(max-width: 480px)";
$tablet-width--xs: "(max-width: 767px)";
$tablet-width--sm: "(max-width: 991px)";
$tablet-width--md: "(max-width: 1023px)";
$desktop-width-sm: "(max-width: 1200px)";
$desktop-width: "(max-width: 1300px)";
