.brief {
  background: #898989 url("../img/top-bg.jpg") no-repeat;
  background-size: cover;

  .container {
    padding-bottom: 75px;

    @media #{$tablet-width--xs} {
      padding-bottom: 20px;
    }
  }
}

.brief__top {
  position: relative;
  min-height: 86px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 120px;
  padding-top: 60px;

  @media #{$tablet-width--sm} {
    padding-top: 44px;
  }
  @media #{$tablet-width--xs} {
    margin-bottom: 80px;
    padding-top: 144px;
  }
  @media #{$mobile-width--sm} {
    margin-bottom: 40px;
    padding-top: 8px;
  }
}

.brief__info {
  max-width: 682px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 105px;
  text-align: center;

  @media #{$tablet-width--md} {
    margin-bottom: 50px;
  }
}

.brief__title {
  text-align: center;
  font-size: $title-font--md;
  margin: 0;
  line-height: $line--md;

  @media #{$tablet-width--xs} {
    font-size: $font--md;
  }

}

.brief__title--yellow {
  color: $color-secondary;
}

.brief__text {
  font-size: $title-font--md;
  line-height: $line--md;

  @media #{$tablet-width--xs} {
    font-size: $font--sm;
  }
}
