.facts-info {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 10px 50px;
  background: $color-secondary;
  z-index: 5;

  @media #{$mobile-width--sm} {
    padding: 10px 15px;
  }

  &:before {
    content: '';
    display: block;
    width: 68px;
    height: 68px;
    border-left: 5px solid $color-secondary;
    border-top: 5px solid $color-secondary;
    position: absolute;
    top: -8px;
    left: -8px;
  }

  &:after {
    content: '';
    display: block;
    width: 68px;
    height: 68px;
    border-right: 5px solid $color-secondary;
    border-bottom: 5px solid $color-secondary;
    position: absolute;
    bottom: -8px;
    right: -8px;
  }
}

.facts-info__text {
  color: $text-black;
  font-size: $font--sm;
  line-height: $line--lg;

  @media #{$mobile-width--sm} {
    padding: 10px 15px;
    font-size: $font--xs;
  }

  b {
    font-weight: 400;
  }
}
