.footer-address {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media #{$tablet-width--sm} {
    flex-direction: column;
    align-items: center;
  }

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: $bg-white;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    @media #{$tablet-width--sm} {
      display: none;
    }
  }
}

.footer-address__item {
  width: 47%;

  @media #{$tablet-width--sm} {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-address__title {
  margin-bottom: 9px;
  font-size: $font--xs;
  line-height: $line--md;
  color: $text-white;
  text-align: center;
}

.footer-address__map {
  height: 306px;
}
