.footer-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 140px;

  @media #{$tablet-width--sm} {
    margin-bottom: 70px;
  }
}

.footer-contacts__list {
  position: relative;
  max-width: 430px;
  padding: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 2px solid $color-secondary;
    border-top: 2px solid $color-secondary;
  }
  &::after {
    content: '';
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 2px solid $color-secondary;
    border-bottom: 2px solid $color-secondary;
  }
}

.footer-contacts__site {
  position: relative;
  margin-bottom: 5px;
  z-index: 3;
  color: $color-secondary;
  text-decoration: none;
  font-size: $title-font--md;
  line-height: $line--md;

  @media #{$tablet-width--sm} {
    font-size: 16px;
  }

  &:hover {
    color: $text-white;
  }


}

.footer-contacts__phone {
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
  padding: 4px 10px;
  background: $color-secondary;
  color: $text-black;
  font-size: $title-font--large;
  line-height: $line--md;
  text-decoration: none;
  letter-spacing: 2px;

  @media #{$tablet-width--sm} {
    font-size: $font--xlg;
    letter-spacing: 0;
  }

  span {
    font-size: $font--xlg;
    vertical-align: top;

    @media #{$tablet-width--sm} {
      font-size: $title-font--md;
    }
  }
}

.footer-contacts__mail {
  position: relative;
  z-index: 3;
  color: $text-white;
  font-size: $font--large;
  line-height: $line--md;
  text-decoration: none;
  letter-spacing: -2px;

  @media #{$tablet-width--sm} {
    font-size: $font--sm;
    letter-spacing: 0;
  }

  &:hover {
    color: $color-secondary;
  }
}
