.program-item {
  padding-bottom: 60px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 30px 0px rgba(#000, 0.75);
  }
}

.program-item__top {
  display: flex;
  background: $bg-black;

  @media #{$tablet-width--md} {
    flex-direction: column;
  }
}

.program-item__bottom {
  padding: 180px 0;

  @media #{$mobile-width--sm} {
    padding: 30px 0;
    background-position: center center;
  }
}

.program-item__left {
  position: relative;
  width: 50%;
  overflow: hidden;
  height: 638px;
  background: url("../img/box-bg-parallax.jpg");

  @media #{$tablet-width--md} {
    width: 100%;
    background-size: cover;
  }
  @media #{$tablet-width--md} {
    height: 550px;
  }
}

.program-item__bottom--box {
  background: #000 url("../img/box-bg.jpg") no-repeat;
  background-size: cover;
}

.program-item__bottom--power {
  background: #000 url("../img/power-bg.jpg") no-repeat;
  background-size: cover;

  @media #{$tablet-width--md} {
    padding-bottom: 95px;
  }
  @media #{$mobile-width--sm} {
    padding-bottom: 60px;
  }
}

.program-item__bottom--power-function {
  position: relative;
  background: #000 url("../img/power-bg-bottom.jpg") no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }
  .program-item__title {
    width: 100%;
    max-width: 680px;
  }
  .program-item__text {
    max-width: 780px;
  }
}

.program-item__bottom--release {
  background: #000 url("../img/release-bg.jpg") no-repeat;
  background-size: cover;

  .program-item__title {
    max-width: 765px;
  }
}

.program-item__title {
  position: relative;
  margin-bottom: 30px;
  font-size: $title-font--lg;
  line-height: $line--md;
  text-transform: uppercase;
  border-bottom: 2px solid $color-secondary;

  @media #{$tablet-width--xs} {
    font-size: $title-font--md;
  }
}

.program-item__title--left-corner {
  padding-left: 13px;
}

.program-item__bottom--box .program-item__title--left-corner {
  max-width: 210px;
}

.program-item__bottom--power .program-item__title--left-corner {
  max-width: 540px;
}

.program-item__title--left-corner:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: -3px;
  left: 3px;
  border-left: 6px solid $color-secondary;
  border-top: 6px solid $color-secondary;
}

.program-item__title--right-corner {
  margin-right: 10px;

  &:after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  top: -3px;
  right: -11px;
  border-right: 6px solid $color-secondary;
  border-top: 6px solid $color-secondary;
}
}

.program-item__text {
  max-width: 680px;
  line-height: $line--lg;
  @media #{$mobile-width--sm} {
    line-height: $line--sm;
  }
}

.program-item__text--bold {
  font-weight: 400;
}

.program-item__right {
  width: 50%;
  padding-left: 28px;
  padding-right: 15px;
  padding-top: 75px;
  padding-bottom: 75px;

  @media #{$tablet-width--md} {
    width: auto;
  }
}

.program-item__description {
  position: relative;
  padding: 5px;
  min-height: 200px;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid $color-secondary;
    border-top: 2px solid $color-secondary;
  }
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 2px solid $color-secondary;
    border-bottom: 2px solid $color-secondary;
  }
}
