.program-item-title {
  font-size: $font--lg;
  line-height: $line--lg;
}

.program-item-title--big {
  position: absolute;
  top: 15%;
  right: 15%;
  // transform: translateX(-50%);
  font-size: $title-font--largest;
  line-height: $line--md;
  text-transform: uppercase;
  z-index: 5;

  @media #{$tablet-width--md} {
    position: relative;
    text-align: center;
    right: auto;
  }
  @media #{$mobile-width--sm} {
    font-size: $title-font--xlg;
  }
}

.program-item-title--release {
  position: absolute;
  top: -10%;
  right: 20%;
  font-size: $title-font--md;
  line-height: $line--md;
  text-transform: uppercase;
  z-index: 50;
  text-align: center;

  @media #{$tablet-width--md} {
    position: relative;
    right: auto;
    top: -20%;
    text-align: center;
  }
	@media #{$mobile-width--sm} {
		top: -40%;
  }
}
