.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.socials--right {
  justify-content: flex-end;

  @media #{$tablet-width--xs} {
    justify-content: center;
  }
}

.socials--footer {
  margin-bottom: 166px;

  @media #{$tablet-width--sm} {
    margin-bottom: 80px;
  }
}

.socials__item {
  width: 38px;
  height: 38px;
  margin-right: 11px;
  font-size: 0;
  line-height: 0;

  img {
    max-width: 100%;
  }
}
