.training-list {
  display: flex;
  justify-content: center;

  @media #{$tablet-width--xs} {
    flex-direction: column;
    align-items: center;
  }
}

.training-list__item {
  width: 33.333333%;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $text-white;

  @media #{$tablet-width--xs} {
    padding: 14px 0;
    width: auto;
    margin-bottom: 30px;
  }

  &:hover {
    color: $color-secondary;
  }

}

.training-list__item:nth-child(2) {
  border-left: 2px solid $gray-light;
  border-right: 2px solid $gray-light;

  @media #{$tablet-width--xs} {
    border: none;
  }
}

.training-list__img {
  margin-bottom: 14px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}

.training-list__img img {
  max-width: 100%;
}

.training-list__title {
  margin: 0;
  text-align: center;
  font-size: $title-font--xlg;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 300;

  @media #{$tablet-width--xs} {
    font-size: 28px;
  }
}

.training-list__title--md {
  font-size: 38px;
  line-height: 1em;
}

.training-list__title--small {
  max-width: 300px;
  font-size: $font--md;
  line-height: $line--md;

  @media #{$tablet-width--xs} {
    font-size: 20px;
  }
}

.training-list__subtitle {
  font-size: $font--xxs;
  line-height: $line--md;
  text-transform: uppercase;
}
